* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: Helvetica, arial, sans-serif;
}



.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 1.5rem 0 1.5rem;
    height: 4rem;
    background: white;
}

   


p.logo--text {
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
    color: grey;
    

}

.logo--text #colmar {
    font-weight: bolder;
    color: rgb(6, 6, 26);
}

.navigation--desktop {
    list-style: none;
    display: flex;

}

.navigation--desktop a {
    display: block;
    padding: 0 0 0 1rem;
    text-decoration: none;
    color: grey;


}

/*Media Queries for Nav*/

/*Hide Nav bar text when width less than 600px*/
@media screen and (max-width: 900px) {
    .flex-container, span {
        display: none;
    }

    .flex-container-device {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 1.5rem 0 1.5rem;
    height: 4rem;
    background: white;
}
    
}


/*Hide nav bar when text greater than 600px */

@media screen and (min-width: 901px) {
    .flex-container-device {
        display: none;
    }
    
}



