/*remove defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*set default font size to 10px now 1rem = 10px, 2rem = 20px etc
Font Family */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

}

/*Main container set to flex column now all items will stack specified by row or column*/
.main {
    margin: .1rem solid white;
    display: flex;
    
}

/*Fixed Navigation bar*/
.navigation--bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: slategray;
    opacity: 0.99;
    position: fixed;
    z-index: 100;
    width: 100%;
             
}


/*Targeted last item in Nav for rhs space away from edge*/
#list--last {
    padding-right: 1.6rem;
}
/*Targeted the logo icon as any other items caused me problems*/
#navigation--image {
    padding-left: 1.6rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

}
/*used this to "push the image down - don't understand margin/padding - but this works!!*/
.auxilary {
    color: slategray;
    background-color: slategray;
    padding-bottom: 3rem;
}

/*The banner image is resposive to resizing for phones this was the best I could get it*/
.banner {
    object-fit: fill;
    width: 100%;
    height: 18.3rem;
    border: .1rem solid grey;
    margin-bottom: 3.2rem;
    
}

/*Background and Text below banner image*/

.banner--section {
    background-color: grey;
    display: flex;
    flex-direction: column;
    
}

/*banner text - headers, paragraph, button and spacing*/

.banner--text--holder {
    margin: 0 1.6rem;
}

.banner--text--holder h1  {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 3.2rem;
}

.banner--text--holder p {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
}

.banner--button {
    width: 100%;
    padding: 0.4rem 0;
    background-color: rgb(37, 36, 36);
    border: none;
    margin-bottom: 3.2rem;
}

.banner--button a {
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
}
    
    
/*Orientation Section*/
.Orientation--main {
    display: flex;
    border: 0.1rem solid black;
    
}   

.orientation--container {
    display: flex;
    flex-direction: column;
    padding-bottom: 3.2rem;
   
    background-color: rgb(189, 174, 174);
   
}

/*Trial and error with margins and width. Looks OK but don't understand how it works*/
.orientation {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
    width: auto;
    height: 20rem;
    border: .1rem solid grey;
    margin: 1.6rem;
}

 .orientation--container h2, 
 .orientation--container p, 
 .orientation--container a {
    display: flex;
    margin-left: 3.2rem;
}  

.orientation--container h2,
.orientation--container p {
    margin-bottom: .5rem
 }
   
.orientation--container h2 {
    font-size: 2.5rem;
    letter-spacing: .15rem;
}

.orientation--container p {
    font-size: 1.6rem;
}

.orientation--container a {
    font-size: 1.6rem;
    text-decoration: none;
}

/*StartLearning Section */
.startlearning--main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
    padding-top: 3.2rem;
    

}

/*Title*/
.startlearning--main h1  {
    font-size: 2.5rem;
    margin-bottom: 3.2rem;
    
}


.startlearning--buttons {
    display: flex;
    flex-direction: column;
   
    margin: 0 1.6rem;
}



