* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: Helvetica, arial, sans-serif;
   
}



.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    height: 4rem;
    background: white;
    opacity: 0.99;
    position: fixed;
    z-index: 100;
    width: 100%;
    
    
   
   
    
}

   


p.logo--text {
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
    color: grey;
    margin-left: 1.5rem;
    

}

.logo--text #colmar {
    font-weight: bolder;
    color: rgb(6, 6, 26);
}

.navigation--desktop {
    list-style: none;
    display: flex;
     margin-right: 1.5rem;

}

.navigation--desktop a {
    display: block;
    padding: 0 0 0 1rem;
    text-decoration: none;
    color: grey;
   


}

/*Media Queries for Nav*/

/*Hide Nav bar text when width less than 600px*/
@media screen and (max-width: 600px) {
    .flex-container, span {
        display: none;
    }

    .flex-container-device {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    height: 4rem;
    background: white;
    opacity: 0.99;
    position: fixed;
    z-index: 100;
    width: 100%;
    

}

img.logo {
    margin-left:1.5rem;
}

a.signin {
    margin-right: 1.5rem;
}


    
}


/*Hide nav bar when text greater than 600px */

@media screen and (min-width: 800px) {
    .flex-container-device {
        display: none;
    }
    
}

 .content-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 4rem;
    width: 100%;
    background: grey;
 }

.banner {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.content-one-text {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    width: 40%;
    justify-content: space-around;
       
}

.content-one-text h1 {
    margin-bottom: 2rem;   
    
}

.content-one-text h3 {
    margin-bottom: 1.5rem;
    
}

.start--button {
    width: 90%;
    height: 3rem;
    font-size: 1rem;
    background-color: dimgray;
    border: none;
}

.start--button a {
    text-decoration: none;
    color: white;
}