/*reset defaults*/
* {
    padding: 0;
    margin: 0;
    
}

/*Make reference font size (1 rem = 16px) and default font*/
html {
    font-size: 16px;
    font-family: Helvetica, arial, sans-serif;
   
}


/*Header*/
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    height: 4rem;
    background: white;
    opacity: 0.99;
    position: fixed;
    z-index: 100;
    width: 100%;
     
}

/* Text for Logo */
p.logo--text {
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
    color: grey;
    margin-left: 1.5rem;
 
}

/* Colmar darker */
.logo--text #colmar {
    font-weight: bolder;
    color: rgb(6, 6, 26);
}

/*Navigation*/
.navigation--desktop {
    list-style: none;
    display: flex;
    margin-right: 1.5rem;

}
/*Navigation List*/
.navigation--desktop a {
    display: block;
    padding: 0 0 0 1rem;
    text-decoration: none;
    color: grey;
   
}

/*Margin left of logo-Navigation*/
img.logo {
    margin-left:1.5rem;

}

/*Margin right of Navigation*/
a.signin {
    margin-right: 1.5rem;
}

/*Container (flex) for image text and button */
 .content-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 2rem;
    width: 100%;
    background: grey;
 }

/*image*/
.banner {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    width: 60%;
}

/*secondary container for Text and button*/
.content-one-text {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    width: 40%;
    justify-content: space-around;
       
}

/*Margin h1 to h3*/
.content-one-text h1 {
    margin-bottom: 2rem;   
    
}

/*Margin h3 to button*/
.content-one-text h3 {
    margin-bottom: 1.5rem;
    
}

/*Button*/
.start--button {
    width: 90%;
    height: 3rem;
    font-size: 1rem;
    background-color: dimgray;
    border: none;
}

/*Button text and anchor*/
.start--button a {
    text-decoration: none;
    color: white;
}