
/*reset defaults*/
* {
    padding: 0;
    margin: 0;
    
}

/*Make reference font size (1 rem = 16px) and default font*/
html {
    font-size: 16px;
    font-family: Helvetica, arial, sans-serif;
   
}

/*Navigation bar*/
.flex-container-device {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    height: 4rem;
    background: white;
    opacity: 0.99;
    position: fixed;
    z-index: 100;
    width: 100%;

}

img.logo {
margin-left:1.5rem;

}

a.signin {
margin-right: 1.5rem;

}

.banner-content {
    background: lightgrey;
    
}

.banner { 
    width: 100%;
    
}

.content-one-text h1 {
    font-size: 4rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

.content-one-text h3 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-left: 1rem;
}


.start--button {
    width: 80%;
    height: 3rem;
    font-size: 1.5rem;
    background: darkslategray;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    align-items: center;
    border: none;
}





 /*Media Queries for Nav*/

/*Hide Nav bar text when width less than 800px*/
@media screen and (min-width: 1px) {
    .flex-container, span {
        display: none;
    }
}